{% extends "base.html" %}
{% block content %}
<h1>{{ stop_name }}</h1>

<h3>Indulások</h3>
<ul class="list">
  {% for d in departures %}
    <li class="list-row">
      <div>
        <div class="strong">{{ d.route }} → {{ d.headsign }}</div>
      </div>
      <div class="time sched">{{ d.sched_time }}</div>
    </li>
  {% else %}
    <li class="muted">Nincs megjeleníthető indulás.</li>
  {% endfor %}
</ul>

{% if arrivals and arrivals|length %}
<h3>Érkezések</h3>
<ul class="list">
  {% for a in arrivals %}
    <li class="list-row">
      <div>
        <div class="strong">{{ a.route }} ← {{ a.headsign }}</div>
      </div>
      <div class="time sched">{{ a.sched_time }}</div>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
